
@{
    ViewBag.Title = "LoginCookie";
}

<h2>LoginCookie</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Login", "Home"))
        {
            <input type="text" name="account" class="form-control" />
            @Html.Password("password", null, new { @class="form-control"})
            <button>登入</button>
        }
    </div>
</div>
